.main-container{
    -fx-background-color: linear-gradient(to right, rgb(243, 188, 243), rgb(243, 191, 240));
}
.side-bar-container{
    -fx-background-color: linear-gradient(to right, rgb(252, 225, 252), rgb(252, 229, 251));
    -fx-padding:5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.253), 5, 0, 2, 2);
    -fx-background-radius:  0 15px 15px 0 ;
}
.logo-container{
    -fx-background-color: linear-gradient(to right, violet, rgb(240, 220, 239));
    -fx-background-radius: 15px;
}
.logo{
    -fx-text-fill:linear-gradient(to right, rgb(36, 32, 36), rgb(226, 21, 216));
}
.menu-list-container{
    -fx-padding: 10px 0 0 0;
}
.menu-icon{
    -fx-margin-right:10px;
}
.menu-item, .settings{
    -fx-background-color: none;
    -fx-font-size: 16px;
    -fx-alignment: baseline-left;
    -fx-background-radius: 30px;
    -fx-padding: 0 0 0 20px;
    -fx-cursor: hand; 
}
.menu-item:hover, .settings:hover{
    -fx-background-color: linear-gradient(to right, rgb(243, 188, 243), rgb(247, 217, 245));

}
.menu-item.active{
    -fx-background-color: linear-gradient(to right, violet, rgb(240, 220, 239));
    -fx-font-size: 16px;
    -fx-alignment: baseline-left;
    -fx-background-radius: 30px;
    -fx-padding: 0 0 0 20px;
    -fx-cursor: hand; 
}
.add-note{
    -fx-background-color: linear-gradient(to right, rgb(252, 225, 252), rgb(252, 229, 251));
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.253), 5, 0, 0, 0);
    -fx-text-fill: rgb(133, 133, 133);
    -fx-cursor: hand; 
}
.add-note:hover{
    -fx-background-color: linear-gradient(to right, rgb(243, 188, 243), rgb(247, 217, 245));

}
.search-notes{
    -fx-background-color: linear-gradient(to right, rgb(252, 225, 252), rgb(252, 229, 251));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.253), 5, 0, 0, 0);
    -fx-background-radius: 30px;
    -fx-padding: 0 0 0 20px;
}
.note-card{
    -fx-background-color: linear-gradient(to right, rgb(252, 225, 252), rgb(252, 229, 251));
    -fx-padding:5px;
    /* -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.253), 5, 0, 0, 0); */
    -fx-background-radius: 15px;
    fx-padding: 20px;   
    -fx-pref-width:200px;
    -fx-cursor: hand; 
}
.note-card:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.253), 5, 0, 0, 0);
}
.note-content{
    -fx-control-inner-background: transparent;
    -fx-background-color:transparent;
    -fx-text-fill:black;
    -fx-border-width:0;
    -fx-padding: 0;
    -fx-overflow-wrap:break-word;
}